# other files
.DS_Store
__pycache__
.vscode
.idea
env
*.egg-info
*.ckpt
build

checkpoints
output

data/text2shape-data/c13
data/text2shape-data/chair_table
data/text2shape-data/ShapeNetCore.v2


log/
logs/
wandb
*.log
